@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #1d1e22;
  padding: 20px;
  border-radius: 20px;
  width: 50vw;
  margin-bottom: 40px;
  font-family: 'Robot', sans-serif ;
}
.BlogPageImageContainer {
  width: 50vw; height: 50vh;
  position: relative; align-self: center;
}
.link {
    text-decoration: none;
    color: black;
}
.postsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-self: flex-start;
    width: 100%;
    margin: 20px;
}

.mainImg{
    width: 100%;
    object-fit: fit;
    border: none;
    overflow: hidden;

}


.Window {
  width: 300px;
  height: 400px;
  background-color:  #1d1e22;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 30px rgb(0 0 0 / 50%);
  margin: 20px;
}
.imageContainer {
  width: 300px;
  position: relative;
  height: 200px;
}

@media only screen and (max-width: 800px) {
  .Container {
    width: 85vw;
    margin-top: 70px;
  }
  .postsContainer {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100vw;
    justify-content: center;
  }
  .BlogPageImageContainer {
  width: 90vw; height: 25vh;
  position: relative; align-self: center;}
}
