@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');

body {
  background-color: #002233;
  /* #301E67 ; */
  margin: 0;
  position: relative;
}
.Container {
  display: flex;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw ;
    color:  #B6EADA;
  }

.navbar {
    display: flex;
    flex-direction: column;
    width: 5vw;
    height: 100vh;
    color: white;
    background-color: #03001C;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
  }
.footer {
    display: flex;
    height: 100vh;
    background-color: #03001C;
    color: white;
    position: fixed;
    width: 5vw;
    right: 0;
    justify-content: center;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .socialicons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #B6EADA;
    
  }

  .navigationelement {
    text-decoration: none;
    color: #B6EADA; margin: 20px;
    font-size: 24px;
    transition: 0.5s;
    position: relative;
    display: flex;
    
  }
  .navigationelement:hover {
    transform: scale(1.2);
    
  }
  .navigationelement:hover .navigationtitle {
    position: absolute;
    display: flex;
    left: 30px;
  }
  .navigationtitle {
    display: none;
    font-size: 16px;
    background-color: #03001C;
    padding: 5px;
    border-radius: 8px;
  } 
  .socialicon {
    transform: scale(1.2)
  }
  .socialicon:hover {
    transition: 0.5s;
    transform: scale(1.5);
  }
  .bottom {
    color: #B6EADA;
    position: absolute;
    display: table;
    margin: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);


  }

@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: row ;
    width: 100%;
    height: 7vh;
  }
  .navigation{
    flex-direction: row
  }
  .footer {
    height: 10vh;
    width: 100%;
    bottom: 0

  }
  .socialicons {
    flex-direction: row
  }
  .bottom {
    bottom: 5px;
    font-size: 0.5em;
    position: fixed
  }
  main {
    min-height: 80vh;
    max-height: 80vh;
  }
  .navigationelement:hover .navigationtitle {
    display: none;
  }
}
